*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(images/home.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    height: 70;
    float: left;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    margin-left: 230px;
    width:400px;
    float: left;
    height: 70px;
    
}
.menu ul{
    align-items: center;
    justify-content: center;
    float: left;
    display: flex;
}
.menu ul li{
    margin-top: 25px;
    margin-left: 55px;
    list-style: none;
    font-size: 18px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 1s ease-in-out;
}
.menu ul li a:hover{
    color:#ff7200;
}
.donate{
    width: 100px;
    margin-left: 270px;
    float: left;
}
.btn{
    width: 100px;
    margin-left: 35px;
    height: 40px;
    background-color: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{outline: none;}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content .paragraph{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .join{
    width: 160px;
    height: 40px;
    background-color: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: .4s ease;
}
.content .join a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.join:hover{
    background-color: #ff7200;
}
.content span{
    color: #ff7200;
    font-size: 60px;
}
.container .data1 span{
    color: #ff7200;
    font-size: 60px;
}
.event .image-content span{
    color: #ff7200;
    font-size: 60px;
}
.container{
    width: 100%;
    height: 40vh;
    margin-top: 2%;
}
.data1{
    width: 30%;
    margin-left: 3%;
}
.data2{
    width: 30%;
    margin-left: 35%;
    margin-top: -15%;
}
.data3{
    width: 30%;
    margin-left: 67%;
    margin-top: -15%;
}

.contents{
    font-family: Arial;
    letter-spacing: 1.2px; 
}
.event{
    height: auto;
}
.image{
    height: 500px;
    width: 60%;
    margin-top: 50px;
    margin-left: 3%;
}
.img{height: 500px;
    width: 70%;}
.image-content{
    width: 40%;
    margin-left: 50%;
    margin-top: -38%;
}
.impact{
    background-position: center;
    margin-top: 14%;
    height: 200px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(images/count-bg.png);
    background-size: cover;
}
.impact1{
    width: 25%;
    margin-top: 20px;
}
.impact2{
    width: 25%;
    margin-left: 25%;
    margin-top: -7%;
}
.impact3{
    width: 25%;
    margin-left: 50%;
    margin-top: -7%;
}
.impact4{
    width: 25%;
    margin-left: 75%;
    margin-top: -7.5%;
}
.number{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}
.name{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
}
.footer{
    height: 300px;
    background-color: #363737;
    color: #fff;
}
.footer1{
    width: 25%;
    margin-left: 3%;
}
.footer2{
    width: 25%;
    margin-left: 45%;
    margin-top: -19%;
}
.footer3{
    width: 25%;
    margin-left: 75%;
    margin-top: -17%;
}
.footer2 ul{
    align-items: center;
    justify-content: center;
    
}
.footer2 ul li{
    margin-top: 8px;
    list-style: none;
    font-size: 18px;
}
.footer2 ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 1s ease-in-out;
}
.footer2 ul li a:hover{
    color:#ff7200;
}
.icons a{
    text-decoration: none;
    color:#fff;
    font-size: 25px;
    margin-left: 5px;
}
.icons a:hover{
    color: #ff7200;
}
.copy{
    background-color: #0a0502;
    height: 40px;
    color: #fff;
}
.c{
    text-align: center;
    font-size: 24px;
 
}
.done{
    text-align: right;
    font-size: 24px;
    margin-top: -2%;

}

